<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Eastern_India.png" alt="East Culture" style="width:100%; max-width: 100%;">
<b> East Culture </b>East India has a rich literary tradition, with languages like Bengali, Odia, Assamese, and Maithili being spoken in the region. Renowned authors like Rabindranath Tagore (Bengali), Bankim Chandra Chattopadhyay (Bengali), and Fakir Mohan Senapati (Odia) have contributed significantly to the literary landscape of East India.                   Art and Handicrafts: East India is known for its vibrant art and handicraft traditions. Pattachitra (traditional scroll painting) from Odisha, Kantha embroidery from West Bengal, and terracotta pottery from Bihar are some of the region's notable art forms. The intricate craftsmanship reflects the rich cultural heritage of the region.</br>

<h3>Music:</h3> East India has a diverse musical tradition, ranging from the classical music of Bengal (Rabindra Sangeet) to the folk music of Assam (Bihu), Odisha (Gotipua), and Bihar (Jat-Jatin). Dance forms like Odissi, Manipuri, and Sattriya have their roots in East India and are celebrated for their grace and storytelling.</br>
<h2>Natural Beauty:</h2>East India is blessed with picturesque landscapes, including the lush greenery of the Sundarbans mangrove forest, the rolling hills of Darjeeling and Sikkim, and the serene beaches of Odisha and Andaman and Nicobar Islands. These natural attractions draw tourists from around the world.</br>

<h3>Religious Diversity</h3> East India is home to people from diverse religious backgrounds, including Hindus, Muslims, Christians, Buddhists, and Sikhs. The region's religious diversity is reflected in its temples, mosques, churches, and other places of worship.

</body>
</html>