<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="{% url 'ganeshchaturthi' %}">Ganesh Chaturthi</a></h1>
<p>Ganesh Chaturthi is a Hindu festival celebrated in honor of Lord Ganesha, the elephant-headed deity,
    who is believed to be the remover of obstacles and the god of wisdom, prosperity, and good fortune.
    The festival typically falls in the Hindu calendar month of Bhadrapada, which usually falls between
    August and September in the Gregorian calendar.</br>

During Ganesh Chaturthi, elaborate idols of Lord Ganesha are worshipped in homes and public pandals
    (temporary structures). The festival is marked by colorful processions, devotional singing, and
    offerings of sweets, flowers, and fruits to Lord Ganesha. The celebrations culminate with the
    immersion of Ganesha idols in water bodies, symbolizing his journey back to his celestial abode.</br>

Ganesh Chaturthi holds significant cultural and religious importance in India, especially in the states
    of Maharashtra, Goa, Gujarat, and Karnataka, where it is celebrated with great fervor and enthusiasm.
    The festival promotes unity, community bonding, and the spirit of joy and devotion among people of
    all ages and backgrounds.</p>


<h1><a href="{% url 'diwali' %}">Diwali</a></h1>
<p>Diwali, also known as Deepavali, is one of the most significant festivals celebrated in India and
    by Hindu communities worldwide. It usually occurs between October and November, marking the beginning
    of the Hindu New Year according to the lunar calendar. Diwali, which translates to "Row of Lights,"
    is a five-day festival that symbolizes the victory of light over darkness, good over evil, and
    knowledge over ignorance.</br>

During Diwali, homes, temples, and public spaces are adorned with colorful decorations and illuminated
    with countless oil lamps, candles, and electric lights. People clean and decorate their homes,
    exchange gifts, and prepare traditional sweets and dishes. The festival is also marked by the
    bursting of fireworks and firecrackers, adding to the festive atmosphere.</br>

Diwali holds various cultural and religious significances across different regions of India. It
    commemorates the return of Lord Rama to his kingdom Ayodhya after defeating the demon king Ravana,
    as narrated in the epic Ramayana. It also celebrates the goddess Lakshmi, the goddess of wealth and
    prosperity, and is associated with prayers for a prosperous and successful year ahead.</br>

Beyond its religious significance, Diwali is a time for family gatherings, socializing, and
    strengthening bonds with loved ones. It transcends religious boundaries and is celebrated by
    people of various faiths, including Hindus, Jains, Sikhs, and Buddhists, each observing it in
    their unique way.</br>

Overall, Diwali is a joyous and vibrant festival that embodies the spirit of hope, renewal, and the
    triumph of righteousness, spreading happiness and positivity among communities across the world.</p>

<h1><a href="{% url 'ramadan' %}">Ramadan</a></h1>
<p>The ninth month of the Islamic Calendar, a month of strict spiritual discipline to commemorate
    the first revelation of the Holy Quran to Mohammed, the month during which severe norms for
    fasting is enforced as a pathway for reaching the ultimate eternity is the month of Ramadan,
    Romanized as Ramzan.</p>

<h1><a href="{% url 'christmas' %}">Christmas</a></h1>
<p>Christmas is an annual festival celebrated on December 25th to commemorate the birth of Jesus Christ,
    the central figure of Christianity. It is observed with religious services, festive decorations,
    gift-giving, feasting, and family gatherings. Christmas is a time of joy, peace, and goodwill,
    symbolizing love, generosity, and the spirit of giving. It is celebrated by billions of people
    worldwide, both religiously and culturally, making it one of the most widely observed holidays
    globally.

</p>
</body>
</html>