<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://images.unsplash.com/photo-1587474260584-136574528ed5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW5kaWElMjBnYXRlfGVufDB8fDB8fHww" alt="Indian Gate Image" width="1300" height="800">

<p><b>The India Gate </b>is an iconic national monument located in the heart of New Delhi, India.
    Here's some information about it:</p>

<h3>History: </h3>The India Gate was built to commemorate the soldiers of the Indian Army who died
during World War I and the Third Anglo-Afghan War. The foundation stone was laid in 1921, and it was
completed in 1931. Originally known as the All India War Memorial, it was designed by Sir Edwin Lutyens,
a prominent British architect.</br>

<h3>Architecture: </h3>The India Gate is a towering structure standing at approximately 42 meters
(138 feet) high. It is constructed using red sandstone and granite and bears resemblance to the Arc
de Triomphe in Paris. The monument is adorned with intricate carvings and inscriptions, including the
names of soldiers who sacrificed their lives in various conflicts.</br>

<h3>Design: </h3>The India Gate consists of an archway with an eternal flame burning beneath it,
known as the Amar Jawan Jyoti (the Flame of the Immortal Soldier). The archway serves as a memorial
and symbolizes the triumph of the Indian Army and the spirit of sacrifice.</br>

<h3>Location: </h3>Situated at the eastern end of the Rajpath, the India Gate serves as the gateway
to the Rashtrapati Bhavan (President's House) in one direction and the National War Memorial in the
other direction. It is surrounded by lush lawns and gardens, making it a popular spot for picnics and
leisure activities.</br>

<h3>Significance: </h3>The India Gate holds great significance as a symbol of national pride, valor,
and sacrifice. It serves as a reminder of the bravery and sacrifices of Indian soldiers and is a place
of homage and remembrance for visitors from across the country and around the world.</br>

<h3>Attractions: </h3>The India Gate is often visited by tourists and locals alike, especially in the
evenings when it is illuminated and surrounded by bustling activity. It offers picturesque views and
is a popular destination for photography, leisurely strolls, and cultural events.</br>

<h3>Ceremonies: </h3>The India Gate is the site of various ceremonies and events, particularly on
national holidays such as Republic Day and Independence Day. It serves as a focal point for
celebrations and tributes to India's rich cultural heritage and its brave soldiers.</br>

<p>In summary, the India Gate stands as a timeless symbol of India's unity, resilience, and
    reverence for those who laid down their lives for the nation. It continues to inspire
    generations with its majestic presence and profound significance.</p>
</body>
</html>