<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1><a href="{% url 'agra' %}">Agra</a></h1>
<p><h3><b style="color: DimGray;">The Taj Mahal, an exquisite white marble mausoleum located in Agra, India, stands as a timeless
    testament to love and architectural brilliance. Commissioned by Mughal Emperor Shah Jahan in
    memory of his beloved wife Mumtaz Mahal, who died during childbirth in 1631, its construction
    spanned over two decades and involved the labor of thousands of artisans and craftsmen. Completed
    in 1653, the Taj Mahal is renowned for its symmetrical design, intricate carvings, and stunning
    inlay work using semi-precious stones. Its central dome, flanked by four smaller domes, rises
    majestically above a reflective pool, creating a breathtaking reflection that accentuates its beauty. Recognized as a UNESCO World Heritage Site, the Taj Mahal continues to captivate visitors from around the world with its timeless elegance, serving as a poignant symbol of eternal love and artistic mastery.
</b></h3></p></br>
<h1><a href="{% url 'ellora' %}">Ellora</a></h1>
<p><h3><b style="color: DimGray;"> The Ajanta and Ellora Caves, located in the Aurangabad district of Maharashtra, India, are UNESCO
    World Heritage Sites renowned for their extraordinary rock-cut architecture and religious
    significance. The Ajanta Caves, dating back to the 2nd century BCE to the 6th century CE, consist
    of 29 caves adorned with exquisite paintings and sculptures depicting the life of Buddha and
    various Buddhist deities. In contrast, the Ellora Caves, excavated during the Rashtrakuta dynasty
    between the 6th and 10th centuries CE, comprise 34 caves representing Buddhist, Hindu, and Jain
    traditions. These awe-inspiring caves showcase a harmonious fusion of artistic creativity,
    spiritual devotion, and cultural diversity, serving as a testament to India's rich heritage and
    enduring legacy of craftsmanship.</b></h3></p></br>
<h1><a href="{% url 'redfort' %}">Red Fort</a></h1>
<p><h3><b style="color: DimGray;"> The Red Fort, a majestic testament to Mughal grandeur, stands proudly in the heart of Old Delhi,
    India. Commissioned by Emperor Shah Jahan in the 17th century, its towering red sandstone walls
    enclose a sprawling complex of palaces, pavilions, and gardens, adorned with intricate marble
    carvings and decorative motifs. Symbolizing the zenith of Mughal architectural achievement, the
    fort served as the imperial residence for nearly two centuries. Today, it is a UNESCO World
    Heritage Site and a cherished national monument, drawing visitors from around the globe to marvel
    at its beauty and immerse themselves in its rich history. The Red Fort remains a beacon of India's
    cultural heritage, embodying centuries of power, splendor, and resilience.</b></h3></p></br>
<h1><a href="{% url 'gateway' %}">India Gate</a></h1>
<p><h3><b style="color: DimGray;">The India Gate, situated in the heart of New Delhi, is an iconic national monument of India. Built
    in the early 20th century, it stands as a solemn memorial honoring the soldiers of the Indian Army
    who sacrificed their lives during World War I and the Third Anglo-Afghan War. Designed by Sir Edwin
    Lutyens, the towering structure features an imposing archway adorned with intricate carvings and
    inscriptions, including the names of the fallen soldiers. The Amar Jawan Jyoti, an eternal flame,
    burns beneath the arch as a symbol of remembrance and sacrifice. Surrounded by lush lawns and
    gardens, the India Gate serves as a poignant reminder of India's rich history and the valor of its
    armed forces. It is a place of reverence and reflection, attracting visitors from across the
    country and around the world to pay homage to the brave soldiers who gave their lives in service
    to the nation.</b></h3></p></br>
</body>
</html>