<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://miro.medium.com/v2/resize:fit:1200/1*Er1lWwW5R4vY_iw89ObfbA.jpeg" alt="Joint Family" style="width:100%; max-width: 100%;">
<b>Joint Family</b>
<h1>Multiple Generations</h1>One of the defining features of a joint family is that it consists of multiple generations living under one roof. This includes grandparents, parents, children, and sometimes even extended family members such as uncles, aunts, and cousins.</br>
<h3>Shared Residences </h3>Members of a joint family typically live together in the same household or within close proximity. This shared living arrangement fosters a sense of belonging and mutual support among family members.</br>
<h1>Responsibilities</h1>Members of a joint family share various responsibilities, including household chores, childcare, and financial obligations. Each member contributes to the functioning of the family unit in their own way.</br>
<h3>Family Bonding</h3> Living together fosters strong emotional bonds among family members. Shared experiences, celebrations, and challenges strengthen the sense of kinship and solidarity within the joint family.</br>
</body>
</html>