<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Kathakali_BNC.jpg/220px-Kathakali_BNC.jpg" alt="Kathakali" style="width:100%; max-width: 100%;">
<b>Kathakali</b>
<h2>Gestures</h2>Kathakali is renowned for its highly expressive facial expressions, known as "Navarasas." Performers use their eyes, eyebrows, and facial muscles to convey various emotions such as love, anger, courage, and sorrow. Each movement of the face is meticulously choreographed to enhance the storytelling.</br>
<h4>Hand Gestures</h4>Hand gestures, known as "Mudras," play a crucial role in Kathakali performances. There are numerous mudras used to depict different objects, actions, and emotions. The performers undergo extensive training to master these intricate hand movements.</br>
<h2>Body Movements</h2> Kathakali involves dynamic and powerful body movements that are synchronized with the rhythm of the accompanying music. The performers use various postures, jumps, and leaps to portray different characters and scenes.</br>
<h4>Tradition</h4>Kathakali requires rigorous training and dedication. Performers undergo years of training to master the intricate techniques and expressions. The art form is deeply rooted in tradition and has been passed down through generations, with each performance preserving the rich cultural heritage of Kerala.</br>

</body>
</html>