<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://www.indovacations.net/North-India-Tours/Images/Map_NorthIndia.jpg" alt="North Culture" style="width:100%; max-width: 100%;">
<b>NorthCulture-</b>
Hindustani classical music, which originated in North India, is highly revered. It includes vocal and instrumental forms like Khayal, Dhrupad, and Tansen's rendition of Ragas. Bollywood music also has a significant influence, with many popular songs originating from North Indian states.</br>
<h2>Dance:</h2>Kathak, a classical dance form originating from Uttar Pradesh, is one of the most popular dance forms in North India. It is known for its intricate footwork and expressive storytelling. Folk dances like Bhangra (Punjab), Ghoomar (Rajasthan), and Garba (Gujarat) are also widely celebrated.</br>
<h3>Arts and Culture :</h3>North India is home to various forms of traditional art and craft, including intricate embroidery work like chikankari (Uttar Pradesh) and phulkari (Punjab), pottery, woodcarving, and miniature paintings (Rajasthan).</br>
<h2>Language and Literacy</h2> Hindi is the most widely spoken language in North India, although there are several other languages spoken in the region such as Punjabi, Bhojpuri, Rajasthani, and Urdu. The region has a rich literary tradition, with renowned authors like Premchand (Hindi), Amrita Pritam (Punjabi), and Jaishankar Prasad (Maithili) hailing from North India.</br>
<h3>Religious Diversity:</h3>North India is home to various religious communities, including Hindus, Muslims, Sikhs, Jains, and Buddhists. Each community contributes to the cultural fabric of the region through its festivals, rituals, and traditions.</br>
</body>
</html>