<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img src="https://assets-global.website-files.com/637f32081b68888e6d1bdd50/65631335f016fd9f3a2f6f32_Indian%20traditional%20attires%20including%20saree.jpg" alt="Image" width="1400" height="500">

<p><h3><b style="color: DimGray;">Indian traditions are deeply rooted in the country's rich cultural
    heritage and diverse religious practices. These traditions encompass a wide range of customs,
    rituals, festivals, and beliefs that have been passed down through generations. Family plays a
    central role in Indian traditions, with strong emphasis placed on respect for elders and
    maintaining close-knit family ties. Marriage is considered sacred, often arranged by families
    based on cultural, social, and religious factors. Religious diversity is a hallmark of Indian
    society, with Hinduism, Islam, Christianity, Sikhism, Buddhism, and Jainism being the major
    religions. Each religion brings its own set of traditions, rituals, and festivals, contributing to
    the colorful tapestry of Indian culture. Festivals like Diwali, Holi, Eid, Christmas, and Durga
    Puja are celebrated with great fervor across the country, bringing people together in joy and
    harmony. Additionally, practices like yoga, meditation, and Ayurveda are deeply ingrained in Indian
    traditions, emphasizing holistic well-being of mind, body, and spirit. Overall, Indian traditions
    reflect the country's unity in diversity, where people from different backgrounds coexist
    harmoniously, preserving ancient customs while embracing modernity.</b></h3></p></br>

<h1><a href="{% url 'joint' %}">Joint Families</a></h1>
<p><h3><b style="color: DimGray;">Joint families have long been a prominent feature of Indian society,
    representing a closely-knit familial structure where multiple generations live together under one
    roof. In a joint family, grandparents, parents, children, and sometimes even extended family
    members reside together, sharing resources, responsibilities, and emotional bonds. This setup
    fosters a strong sense of unity and support, with elders playing a significant role in decision-making
    and guidance for the younger members. Joint families provide a nurturing environment for children,
    who grow up surrounded by the wisdom and care of their elders. Additionally, joint families help in
    the efficient utilization of resources and provide a safety net during times of need. While the
    prevalence of joint families has decreased in urban areas due to modernization, migration, and
    changing social dynamics, they still hold great significance in many parts of India, particularly
    in rural communities and smaller towns, as they continue to uphold traditional values and strengthen
    family bonds.</b></h3></p></br>

<h1><a href="{% url 'kathakali' %}">Kathakali</a></h1>
<p>Kathakali performers wear elaborate makeup and costumes. The makeup, called "Paccha," "Kathi," "Thaadi," and "Minukku," helps to distinguish the characters and convey their emotions. The costumes are colorful and intricately designed, often including heavy ornaments and headgear.</p>
<h1><a href="{% url 'kerala' %}">Kerala</a></h1>
<p> Kerala is the top most beatutiest place regarding the nature. Kerala is renowned for its picturesque landscapes, including lush greenery, backwaters, beaches, and hill stations.<br>
    The Western Ghats mountain range runs through Kerala, offering stunning views and biodiversity.</p>
<h1><a href="{% url 'manipur' %}">Manipur</a></h1>
<p>Manipur is home to diverse ethnic groups, each with its own distinct culture, traditions, and languages. The major ethnic groups include the Meiteis, Nagas, Kukis, and Pangals (Manipuri Muslims).</br>
Manipur is a melting pot of various religions, including Hinduism, Christianity, Islam, and indigenous faiths. The state is known for its religious harmony and cultural syncretism, where people from different religious backgrounds coexist peacefully.</p>
</body>
</html>